extends newManageLayout

block content
  #content.span10
    ul.breadcrumb.realtive
      li
        i.icon-home
        |           
        a.toComplist(href="/manage/aboutUs/pageSize/compPageNum") 公司介绍
        |  
        | >          
        //- i.icon-angle-right
        | 
      |         
      li
        -if(id)
          | 编辑介绍
        -else
          | 添加介绍
      //- li.addLi
        a(href="/manage/delAboutus") 清空介绍
    | 
    section.manageSection
      .box-content.upload
        form.form-horizontal(name='aboutUsForm' ,method='post', action='/manage/addAboutUs/pageSize/compPageNum')
            fieldset.manageFieldset#getImgIndex
              .control-group(style='display:none;')
                label.control-label(for="id") ID
                .controls
                  input#id.span4.typeahead(type="text" name='id' value="#{id ? id : null}")
              .control-group
                label.control-label(for="typeahead") 
                  span.required * 
                  | 介绍页大标题
                .controls
                  input#typeahead.span4.typeahead(type="text" name='bname' value="#{title ? title : 'About Us' }")
                  //- p.help-block Start typing to activate auto complete!
              .control-group.hidden-phone
                label.control-label(for="desc_txt") 
                  span.required * 
                  | 介绍页描述
                .controls
                  textarea#desc_txt.span66(name='desc_txt' class='cleditor' rows='8') #{desc_txt ? desc_txt : ''}
              -if(!!content && content != '[]')
                -for(var i in JSON.parse(content))
                  .infoBlock.light-bg
                    .control-group
                      label.control-label(for="curImg") 介绍图片
                      -if(!!JSON.parse(content)[i]['img'] && null != JSON.parse(content)[i]['img'] && ''!= JSON.parse(content)[i]['img'])
                        .controls.ciBox(style='visibility:visible;')
                          .upload-container
                            a(href='#' target='_blank') 
                              img.upImg.1(src="#{JSON.parse(content)[i]['img']}")
                          span.input-group-addon.searchAddon.imgDelBtn
                            button.searchClose.closeBtn
                              span.glyphicon.glyphicon-remove.iconSpan
                        .controls.imgBox(style='display:none;')
                          .upload-container.upBox
                            .upTex
                              span.upIcon
                                i.fa.fa-plus
                              span 点击上传
                            input.imgFile(name='inputFile',type='file', class="fileupload")
                            input.curImg(name='curImg' type='text' style='visibility:hidden' value="#{imgs ? imgs : '' }")
                      -else
                        .controls.ciBox
                          .upload-container
                            a(href='#' target='_blank') 
                              img.upImg(src="#{JSON.parse(content)[i]['img']}")
                          span.input-group-addon.searchAddon.imgDelBtn
                            button.searchClose.closeBtn
                              span.glyphicon.glyphicon-remove.iconSpan
                        .controls.imgBox
                          .upload-container.upBox
                            .upTex
                              span.upIcon
                                i.fa.fa-plus
                              span 点击上传
                            input.imgFile(name='inputFile',type='file', class="fileupload")
                            input.curImg(name='curImg' type='text' style='visibility:hidden' value="#{imgs ? imgs : '' }")


                    |     
                    .control-group.hidden-phone
                      label.control-label(for="subTile") 介绍小标题
                      |                               
                      .controls
                        input.subTile.span66(name='subTitle' type='text' value="#{JSON.parse(content)[i]['title']}") 
                        //- input.subTile.span66(name='subTile' type='text' value="#{subTitle ? subTitle : ''}") 
                    |                        
                    .control-group.hidden-phone
                      label.control-label(for="info") 介绍详情
                      |                               
                      .controls
                        textarea.info.span66(name='info' class='cleditor' rows='8') #{JSON.parse(content)[i]['value']}
              
                        //- textarea.info.span66(name='info' class='cleditor' rows='8') #{info ? info : ''}
                  //- .infoBlock.light-bg
                  //-   .control-group
                  //-     label.control-label(for="curImg") 介绍图片
                  //-     .controls.ciBox
                  //-       .upload-container
                  //-         a(href='#' target='_blank')
                  //-           img.upImg(src="")
                  //-       span.input-group-addon.searchAddon.imgDelBtn
                  //-         button.searchClose.closeBtn
                  //-           span.glyphicon.glyphicon-remove.iconSpan
                  //-     .controls.imgBox
                  //-         .upload-container.upBox
                  //-           .upTex
                  //-             span.upIcon
                  //-               i.fa.fa-plus
                  //-             span 点击上传
                  //-           input.imgFile(name='inputFile',type='file', class="fileupload")
                  //-           input.curImg(name='curImg' type='text' style='visibility:hidden' value="#{two ? two : '' }")

                  //-   |     
                  //-   .control-group.hidden-phone
                  //-     label.control-label(for="subTile") 介绍小标题
                  //-     |                               
                  //-     .controls
                  //-       input.subTile.span66(name='subTile' type='text' value="#{subTitle ? subTitle : ''}") 
                  //-   |                        
                  //-   .control-group.hidden-phone
                  //-     label.control-label(for="info") 介绍详情
                  //-     |                               
                  //-     .controls
                  //-       textarea.info.span66(name='desc' class='cleditor' rows='8') #{info ? info : ''}
                  //- .infoBlock.light-bg
                  //-   .control-group
                  //-     label.control-label(for="curImg") 介绍图片
                  //-     .controls.ciBox
                  //-       .upload-container
                  //-         a(href='#' target='_blank')
                  //-           img.upImg(src="")
                  //-       span.input-group-addon.searchAddon.imgDelBtn
                  //-         button.searchClose.closeBtn
                  //-           span.glyphicon.glyphicon-remove.iconSpan
                  //-     .controls.imgBox
                  //-         .upload-container.upBox
                  //-           .upTex
                  //-             span.upIcon
                  //-               i.fa.fa-plus
                  //-             span 点击上传
                  //-           input.imgFile(name='inputFile',type='file', class="fileupload")
                  //-           input.curImg(name='curImg' type='text' style='visibility:hidden' value="#{two ? two : '' }")

                  //-   |     
                  //-   .control-group.hidden-phone
                  //-     label.control-label(for="subTile") 介绍小标题
                  //-     |                               
                  //-     .controls
                  //-       input.subTile.span66(name='subTile' type='text' value="#{subTitle ? subTitle : ''}") 
                  //-   |                        
                  //-   .control-group.hidden-phone
                  //-     label.control-label(for="info") 介绍详情
                  //-     |                               
                  //-     .controls
                  //-       textarea.info.span66(name='desc' class='cleditor' rows='8') #{info ? info : ''}
              -else
                .infoBlock.light-bg
                  .control-group
                    label.control-label(for="curImg") 介绍图片
                    .controls.ciBox
                      .upload-container
                        a(href='#' target='_blank') 
                          img.upImg(src="")
                      span.input-group-addon.searchAddon.imgDelBtn
                        button.searchClose.closeBtn
                          span.glyphicon.glyphicon-remove.iconSpan
                    .controls.imgBox
                      .upload-container.upBox
                        .upTex
                          span.upIcon
                            i.fa.fa-plus
                          span 点击上传
                        input.imgFile(name='inputFile',type='file', class="fileupload")
                        input.curImg(name='curImg' type='text' style='visibility:hidden' value="")
                  |     
                  .control-group.hidden-phone
                    label.control-label(for="subTile") 介绍小标题
                    |                               
                    .controls
                      input.subTile.span66(name='subTitle' type='text' value="") 
                      //- input.subTile.span66(name='subTile' type='text' value="#{subTitle ? subTitle : ''}") 
                  |                        
                  .control-group.hidden-phone
                    label.control-label(for="info") 介绍详情
                    |                               
                    .controls
                      textarea.info.span66(name='info' class='cleditor' rows='8')
            .againRow 再增加一段
            input#allImg(name='allImg' type='text' style='visibility:hidden')
            .form-actions.upBtns
              //- button.btn.btn-primary.subBtn(type='button') Save changes
              button.btn.btn-primary.subBtn(type="submit") Save changes
              |                               
              button.btn.cancelBtn Cancel
      script.
        setUrl($('form'),'action',3)
        setUrl($('.toComplist'),'href',3)
        if('#{msg}' != '' && '#{msg}'.indexOf('成功') != -1){
          autoAlert('#{msg}','green',1000)
        }else if('#{msg}' != '' ){
          autoAlert('#{msg}','orange',1000)
        }

  script(type='text/javascript', src="/conm/editAboutUs.js")